@charset "UTFF-8";

/*
    Mobile devices – 320px — 480px.
    iPads, Tablets – 481px — 768px.
    Small screens, laptops – 769px — 1024px.
    Desktops, large screens – 1025px — 1200px.
    Extra large screens, TV – 1201px, and more.
*/
@media screen and (min-width: 10px) and (max-width: 329px){

    .result{
        width: 280px;   
    }
    .descrition{
        margin: 5px;
        font-size: smaller;
        width: 270px;
    }
    .great{
        color: white;
        font-weight: bold;
        font-size: 1em;
        margin-top: 20px;
    }
    #summary1{

        align-self: baseline;
        padding-left: 10px;
        padding-bottom: 5px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){

    body{
    width: 100VW;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    }
    main{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        width: 90vw;
        height: 472.5;
        border-radius: 25px;
        box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.219);
    }   
    .result{
        width: 45vw;
        border-radius: 25px;
    }
    .descrition{
        width: 40vw;
    }
    .sumary{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;

        width: 45vw;
        height: 40vh;
        margin-top: 20px;
    }
    #summary1{
        width: 300px;
        align-self: center;
    }
    .attribution { 
        font-size: 11px; 
        text-align: center;
        padding-top: 100px;
    }

}

@media screen and (min-width: 1025px) and (max-width:1200px){

    body{
        width: 100VW;
        height: 100vh;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    main{
        display: flex;
        flex-flow: row;
        justify-content: space-between;

        width: 70vw;
        height: 472.5;
        border-radius: 25px;
        box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.219);
    }   
    .result{
        width: 35vw;
        border-radius: 25px;
    }
    .descrition{
        width: 30vw;
    }
    .sumary{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;

        width: 35vw;
        height: 40vh;
        margin-top: 20px;
    }

    #summary1{
        width: 300px;
        align-self: center;
    }
    .attribution { 
        font-size: 11px; 
        text-align: center;
        padding-top: 100px;
    }

}

@media screen and (min-width: 1201px) and (max-width: 1661px){ 

    body{
        width: 100VW;
        height: 100vh;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    main{
        display: flex;
        flex-flow: row;
        justify-content: space-between;

        width: 70vw;
        height: 472.5;
        border-radius: 25px;
        box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.219);
    }   
    .result{
        width: 35vw;
        border-radius: 35px;
    }
    .descrition{
        width: 30vw;
    }
    .sumary{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;

        width: 35vw;
        height: 40vh;
        margin-top: 20px;
    }
    #summary1{
        width: 300px;
        align-self: center;
    }
    .attribution { 
        font-size: 11px; 
        text-align: center;
        padding-top: 100px;
    }

}

@media screen and (min-width: 1661px){ 

    body{
        width: 100VW;
        height: 100vh;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    main{
        display: flex;
        flex-flow: row;
        justify-content: space-between;

        width: 50vw;
        height: 472.5;
        border-radius: 25px;
        box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.219);
    }   
    .result{

        width: 25vw;
        border-radius: 35px;
    }
    .descrition{
        width: 20vw;
    }
    .sumary{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;

        width: 25vw;
        height: 40vh;
        margin-top: 20px;
    }

    #summary1{
        width: 300px;
        align-self: center;
    }
    .attribution { 
        font-size: 11px; 
        text-align: center;
        padding-top: 100px;
    }
}


